.main-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em;
  color: #FFF;
  background: $color-grey-dark;

  @media (max-width: 550px) {
    text-align: center;
  }
}

.logo {
  font-weight: 400;
}
