
$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$color-grey-dark: #4a4b4c;

$default-font-family: "news-gothic-std", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$default-font-color: $color-grey-dark;
